<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
          <div class="col-sm-4">
          </div>

          <div class="col-sm-4">
          <h2 class="text-center">Employees <b>Details</b></h2>
        </div>
        <div class="col-sm-4">
          <h5 >Hello, {{username}}</h5>
        <button type="button" class="btn btn-default" (click)="logout()"> Logout </button>

      </div>

    </div>

    <table class="table table-striped" #table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name </th>
          <th >
            Salary <mdb-icon icon="sort" (click)="sortEmployees()"></mdb-icon>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of employees; let i = index">
          <td>{{ element.emp_id }}</td>
          <td>{{ element.emp_name | uppercase }}</td>
          <td>{{ element.salary | currency }}</td>
          <td>
            <a class="view" title="View" data-toggle="modal" data-target="#viewModal" (click)="selectEmployeeObject(element)"><i
                class="material-icons">&#xE417;</i></a>

            <a class="edit" title="Edit" data-toggle="modal" data-target="#editModal" (click)="selectElement(element)"><i
                class="material-icons">&#xE254;</i></a>

            <a class="delete" title="Delete" data-toggle="tooltip" (click)="deleteEmployee(element.emp_id)"><i class="material-icons">&#xE872;</i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
      Add Employee
    </button>
    <button type="button" class="btn btn-primary" (click)="downloadEmployees()">
      Download xlsx
    </button>
  </div>
</div>


<app-emp-modal [id]="selectedEmployee" [empObject]="selectedEmployeeObject"> </app-emp-modal>
<!-- TODO: Check-box to delete multiple employees
TODO: Search box
TODO: Number of entries -->